<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h4 class="card-panel teal lighten-2">User Registration</h4>
      </div>
      <form class="col s12 white" #userRegistrationForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="UserName" [(ngModel)]="UserName">
            <label>UserName</label>
          </div>
          
          <div class="input-field col s6">
            <input type="password" name="Password" [(ngModel)]="Password">
            <label>Password</label>
          </div>

          <div class="input-field col s6">
            <input type="text" name="FirstName" [(ngModel)]="FirstName">
            <label>First name</label>
          </div>

          <div class="input-field col s6">
            <input type="text" name="LastName" [(ngModel)]="LastName">
            <label>lastName</label>
          </div>

          <div class="input-field col s6">
            <input type="email" name="Email" [(ngModel)]="Email">
            <label>Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>